<h1>My Movie List</h1>
<div class="movies">
<app-movie id="i1"  [img]="img1" title="Unicorn Academy"></app-movie>
<app-movie id="i2"  [img]="img2" title="Berlin"></app-movie>
<app-movie id="i3"  [img]="img3" title="Jurassic"></app-movie>
<app-movie id="i4"  [img]="img4" title="Lost in Space"></app-movie>
<app-movie id="i5"  [img]="img5" title="Manifest"></app-movie>
<app-movie id="i6"  [img]="img6" title="Sing 2"></app-movie>
<app-movie id="i7"  [img]="img7" title="Grey Man"></app-movie>
<app-movie id="i8"  [img]="img8" title="Thackeray"></app-movie>
<app-movie id="i9"  [img]="img9" title="Project Power"></app-movie>
<app-movie id="i10" [img]="img10" title="Leo"></app-movie>
<app-movie id="i11" [img]="img11" title="Khushi"></app-movie>
<app-movie id="i12" [img]="img12" title="Charlie 777"></app-movie>
</div>
