<h1>Two - Way Binding</h1>
<div class="box">
  <input id="o" type="text" [(ngModel)]="name" placeholder="Enter the name" />
  <br /><br />
  <input
    id="n"
    type="email"
    [(ngModel)]="em"
    placeholder="enter the email"
  /><br /><br />
  <input
    id="e"
    type="password"
    [(ngModel)]="pass"
    placeholder="enter the password"
  /><br /><br /><br />
  <button id="btn" (click)="show()">Signup</button>
</div>
<div class="box">
  <p>Name is {{ name }}</p>
  <p>Email is {{ em }}</p>
  <p>Password is {{ pass }}</p>
</div>
